@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.Account.LoginModel

@{
	Layout = null;
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary()
	<p class="clearfix">
		@Html.LabelFor(m => m.Email)
		@Html.TextBoxFor(m => m.Email, new { @placeholder = "Введите Email" })
	</p>
	<p class="clearfix">
		@Html.LabelFor(m => m.Password)
		@Html.PasswordFor(m => m.Password, new { @placeholder = "Введите пароль" })
	</p>
	<p class="clearfix">
		<span class="checker">
			<span>
				@Html.CheckBoxFor(m => m.RememberMe)
			</span>
		</span>
		<span>@Html.LabelFor(m => m.RememberMe)</span>
	</p>
	<p class="clearfix">
		<input type="button" value="Войти">
	</p>
	<div class="login-link">
		<a href="@(WebBuilder.BuildActionUrl<AccountController>(o => o.PasswordRecovery()))">Восстановить пароль?</a>
	</div>
}
<div class="down-arrow"></div>
<div class="social-list">
	@Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml")
</div>
