@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@{
	Layout = null;
	var currentUser = AppContextCustom.Current.CurrentUser;
}

<div class="profile-info-mini">
	<div class="transparent-border">
		<div class="photo-background section-shadow">
			<div class="photo-container">
				<div class="profile-photo">
					<img src="@Html.Raw(!string.IsNullOrWhiteSpace(currentUser.PhotoPath) ? currentUser.PhotoPath : Constants.DefaultPhotoPath)" alt="Фото">
				</div>
			</div>
		</div>
		<div class="profile section-shadow">
			<div class="section-module-header">
				<div data-type="auth-name" class="module-title">
					@currentUser.UserName
					<a class="logoff-wrapper" href="@(WebBuilder.BuildActionUrl<AccountController>(o => o.LogOff()))" title="Выйти">
						<span class="logoff-icon"></span>
					</a>
				</div>
			</div>
			<div class="info-body">
				<div class="info">
					@{Html.RenderPartial("_BannerPartial");}
				</div>
				<hr />
				<a href="@(WebBuilder.BuildActionUrl<AccountProfileController>(o => o.Messages()))">
					<span class="private-message-icon"></span>
					Мои сообщения
					<span class="font11">
						<sup class="@Html.Raw(currentUser.InboxMessageCount == 0 ? "gray" : string.Empty)">
							(<span data-type="global-message-count">@currentUser.InboxMessageCount</span>)
						</sup>
					</span>
				</a>
				<a href="@Constants.JavaScriptVoid"><span class="bookmark-icon"></span>Мои закладки</a>
				<a href="@(WebBuilder.BuildActionUrl<AccountProfileController>(o => o.ProfileInfo(currentUser.Id)))"><span class="profile-icon"></span>Мой профиль</a>
				<a href="@(WebBuilder.BuildActionUrl<AccountProfileController>(o => o.EditProfile(currentUser.Id)))"><span class="settings-icon"></span>Настройки</a>
				@if (currentUser.IsMainAdmin || currentUser.IsAdmin)
				{
					<a href="@(WebBuilder.BuildActionUrl<AdministrationController>(o => o.Index()))"><span class="administration-icon"></span>Администрирование</a>
				}
			</div>
		</div>
		<div class="hide-profile">Скрыть</div>
	</div>
</div>
