@model LeagueSoldierDeathTeam.Site.Models.AccountProfile.ChangePasswordModel

@{
	Layout = null;
}

<div class="form">
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary()
		<p class="clearfix">
			@Html.LabelFor(model => model.OldPassword)
			@Html.PasswordFor(model => model.OldPassword, new { @placeholder = "Старый пароль" })
		</p>
		<p class="clearfix">
			@Html.LabelFor(model => model.NewPassword)
			@Html.PasswordFor(model => model.NewPassword, new { @placeholder = "Новый пароль" })
		</p>
		<p class="clearfix">
			@Html.LabelFor(model => model.ConfirmNewPassword)
			@Html.PasswordFor(model => model.ConfirmNewPassword, new { @placeholder = "Повторите пароль" })
		</p>
		<p class="clearfix">
			<input type="button" value="Сохранить">
		</p>
		@Html.HiddenFor(m => m.UserId)
	}
</div>
