@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.AccountProfile.EditProfileModel

@{
	ViewBag.Title = "Редактирование профиля";
}

<div class="transparent-border">
	<div class="simple-page-body section-shadow">
		<div class="section-module-header">
			<div class="module-title">Редактирование профиля</div>
		</div>
		<div class="back-profile">
			<a class="button" href="@(WebBuilder.BuildActionUrl<AccountProfileController>(o => o.ProfileInfo(Model.UserId)))"><span class="back-arrow"></span>Вернуться на профиль</a>
		</div>
		<div class="profile-tabs">
			<ul class="tabs">
				<li>
					<input type="radio" checked name="tabs" id="tab-main">
					<label for="tab-main">Основная</label>
					<div id="tab-content-main" class="tab-content">
						@{Html.RenderPartial("_EditMainInfoPartial", Model.EditMainInfoModel);}
					</div>
				</li>
				<li>
					<input type="radio" name="tabs" id="tab-advance">
					<label for="tab-advance">Дополнительная</label>
					<div id="tab-content-advance" class="tab-content">
						@{Html.RenderPartial("_EditAdvanceInfoPartial", Model.EditAdvanceInfoModel);}
					</div>
				</li>
				<li>
					<input type="radio" name="tabs" id="tab-bind">
					<label for="tab-bind">Контакты</label>
					<div id="tab-content-bind" class="tab-content">
						@{Html.RenderPartial("_EditBindInfoPartial", Model.EditBindInfoModel);}
					</div>
				</li>
				<li>
					<input type="radio" name="tabs" id="tab-change-pass">
					<label for="tab-change-pass">Смена пароля</label>
					<div id="tab-content-change-pass" class="tab-content">
						@{Html.RenderPartial("_ChangePasswordPartial", Model.ChangePasswordModel);}
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
@Html.Hidden("IsMe", AppContext.Current.CurrentUser.IsMe(Model.UserId), new { @data_type = "isme" })
<script type="text/javascript">
	$(document).ready(function () {
		site.profile.initEditInfo.init({
			urls: {
				changePassword: '@(WebBuilder.BuildActionUrl<AccountProfileController>(m => m.ChangePassword(null)))',
				editMainInfo: '@(WebBuilder.BuildActionUrl<AccountProfileController>(m => m.EditMainInfo(null)))',
				editAdvanceInfo: '@(WebBuilder.BuildActionUrl<AccountProfileController>(m => m.EditAdvanceInfo(null)))',
				editBindInfo: '@(WebBuilder.BuildActionUrl<AccountProfileController>(m => m.EditBindInfo(null)))',
			}
		});
	});
</script>
