@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.AccountProfile.UserMessageModel
@{
	ViewBag.Title = !Model.MessageId.HasValue ? "Новое сообщение" : Model.MessageId == default(int) ? "Ответить на сообщение" : "Редактирование сообщения";
}

<div class="transparent-border">
	<div class="simple-page-body section-shadow">
		<div class="section-module-header">
			<div class="module-title">@ViewBag.Title</div>
		</div>
		<div class="section-module-body">
			<div class="back">
				<a class="button" href="@(WebBuilder.BuildActionUrl<AccountProfileController>(m => m.Messages()))">
					<span class="back-arrow"></span>Вернуться к сообщениям
				</a>
			</div>
			<div class="form-container">
				@using (Html.BeginForm("EditMessage", "AccountProfile", FormMethod.Post))
				{
					@Html.HiddenFor(m => m.MessageId)
					<div class="form-border">
						@Html.ValidationSummary()
						<div class="container-item">
							@Html.LabelFor(m => m.RecipientName)
							<div class="field-container">
								@Html.TextBoxFor(m => m.RecipientName, new { @placeholder = "Получатель" })
							</div>
						</div>
						<div class="container-item">
							@Html.LabelFor(m => m.Title)
							<div class="field-container">
								@Html.TextBoxFor(m => m.Title, new { @placeholder = "Заголовок" })
							</div>
						</div>
						<div class="container-item">
							@Html.LabelFor(m => m.Description)
							<div class="field-container">
								@Html.TextAreaFor(m => m.Description, new { @rows = "10", @class = "resize-none" })
								<div class="description-preview"></div>
							</div>
						</div>
					</div>
					<div class="form-buttons">
						<span class="preview-link">Предварительный просмотр</span>
						<input type="submit" value="@Html.Raw(Model.MessageId.GetValueOrDefault() != default(int) ? "Редактировать" : "Отправить")" />
					</div>
				}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		site.message.initEdit.init();
	});
</script>