@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.News.NewsModel

@{
	Layout = null;
}

@if (Model.Data.Any())
{
	foreach (var item in Model.Data)
	{
		<div class="news-container">
			<div class="news-preview"><img src="@Html.Raw(!string.IsNullOrWhiteSpace(item.ImagePath) ? item.ImagePath : Constants.DefaultPhotoPath)" alt="Превью новости" /></div>
			<div class="news-description">
				<div class="news-title">
					<a href="@(WebBuilder.BuildActionUrl<NewsController>(o => o.ViewNews(item.Id)))">@item.Title</a>
				</div>
				<div class="news-additional">
					<span class="news-additional-date">@item.CreateDate.ToShortDateString()</span>
					<span class="news-additional-views">@item.CountViews</span>
					<span class="news-additional-comments">Комменты</span>
					<span class="news-additional-writer">
						<a href="@(WebBuilder.BuildActionUrl<AccountProfileController>(o => o.ProfileInfo(item.WriterId)))" target="_blank">@item.WriterName</a>
					</span>
				</div>
				<div class="news-short-description">@item.ShortDescription</div>
				<div class="news-platforms-category">
					@foreach (var platform in item.Platforms)
					{
						<span>@platform.Name</span>@:,
					}
					<span>@item.NewsCategoryName</span>
				</div>
			</div>
		</div>
	}
	<div id="pager" class="pager">
		@{ Html.RenderPartial("_PagerPartial", Model.Pager); }
	</div>
}
else
{
	<div class="no-result">Новости не найдены</div>
}
