@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LSD Team - @ViewBag.Title</title>
	@{Html.RenderPartial("_Layout.Scripts");}
</head>
<body>
	<div class="wrapper">
		<div class="section section-header section-shadow">
			<div class="team-name-emblem">
				<img class="full-size" src="/Images/team-name.png" alt="League Soldier of Death Team" />
			</div>
			<div class="emblem">
				<a href="@(WebBuilder.BuildActionUrl<HomeController>(m => m.Index()))"><img src="/Images/emblem.png" alt="Главная страница" /></a>
			</div>
			@{Html.RenderPartial("_AuthenticationPartial");}
			<div class="ea-emblem">
				<a href="http://www.ea.com" title="Electronic Arts" target="_blank">
					<img class="full-size" src="/Images/ea-logo.png" alt="Electronic Arts">
				</a>
			</div>
			<div class="dice-emblem">
				<a href="http://www.dice.se" title="Digital Illusions Creative Entertainment" target="_blank">
					<img class="full-size" src="/Images/dice-logo.png" alt="Dice">
				</a>
			</div>
			<div class="frostbite-emblem">
				<a href="http://www.dice.se/frostbite" title="Frostbite 3" target="_blank">
					<img class="full-size" src="/Images/frostbite.png" alt="Frostbite 3">
				</a>
			</div>
		</div>
		@{Html.RenderPartial("_MenuPartial");}
		@if (Request.IsAuthenticated && AppContext.Current.CurrentUser != null)
		{
			Html.RenderPartial("_ProfileInfoPartial");
		}
		<div class="section-body">
			@RenderBody()
		</div>
		<footer>
			<hr />
			<p>&copy; @DateTime.Now.Year - Dmitry Ustimenko</p>
		</footer>
		<div class="arrow-page-up"></div>
	</div>
	@DeclarativeHelper.Control.RenderAlert("alertOverlay")
	@DeclarativeHelper.Control.RenderAlert("confirmOverlay", true)
	<script type="text/javascript">
		var array = @Html.Raw(StaticResourse.GetBackgroundImages())

		$(document).ready(function () {
			site.layout.init({
				urls: {
					login: '@(WebBuilder.BuildActionUrl<AccountController>(m => m.Login(null)))',
					register: '@(WebBuilder.BuildActionUrl<AccountController>(m => m.Register(null)))'
				},
				vars: {
					backgrounds: array
				}
			});
		});
	</script>
</body>
</html>
