@model LeagueSoldierDeathTeam.Site.Models.Account.RegisterModel

@{
	Layout = null;
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary()
	<input type="hidden" value="/" name="ReturnUrl" />
	<p class="clearfix">
		@Html.LabelFor(m => m.RegisterUserName)
		@Html.TextBoxFor(m => m.RegisterUserName, new { @placeholder = "Введите имя" })
	</p>
	<p class="clearfix">
		@Html.LabelFor(m => m.RegisterEmail)
		@Html.TextBoxFor(m => m.RegisterEmail, new { @placeholder = "Введите Email" })
	</p>
	<p class="clearfix">
		@Html.LabelFor(m => m.RegisterPassword)
		@Html.PasswordFor(m => m.RegisterPassword, new { @placeholder = "Введите пароль" })
	</p>
	<p class="clearfix">
		@Html.LabelFor(m => m.ConfirmPassword)
		@Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Повторите пароль" })
	</p>
	<p class="clearfix">
		<input type="button" value="Зарегистрироваться">
	</p>
}