@model LeagueSoldierDeathTeam.Site.Models.Account.ExternalRegisterModel
@{
	ViewBag.Title = Model.LoginProvider + " регистрация";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalRegisterConfirmation", "Account", FormMethod.Post))
{
	@Html.ValidationSummary()
	<p class="clearfix">
		@Html.LabelFor(m => m.UserName)
		@Html.TextBoxFor(m => m.UserName, new { @placeholder = "Введите имя" })
	</p>
	<p class="clearfix">
		@Html.LabelFor(m => m.Email)
		@Html.TextBoxFor(m => m.Email, new { @placeholder = "Введите Email" })
	</p>
	<p class="clearfix">
		@Html.LabelFor(m => m.RegisterPassword)
		@Html.PasswordFor(m => m.RegisterPassword, new { @placeholder = "Введите пароль" })
	</p>
	<p class="clearfix">
		@Html.LabelFor(m => m.ConfirmPassword)
		@Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Повторите пароль" })
	</p>
	<p class="clearfix">
		<input type="button" value="Зарегистрироваться">
	</p>
}
