@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.Account.PasswordResetModel

@{
	ViewBag.Title = "Сброс Пароля";
}

<div class="simple-page-body section-shadow">
	<div class="section-module-header">
		<div class="module-title">Смена пароля</div>
	</div>
	@if (Model.PasswordWasChanged)
	{
		<div class="message-body">
			<h2>Ваш пароль был изменен</h2>
			<span class="message">
				Пожалуйста, войдите на сайт, используя новый пароль.
			</span>
			<span class="message">
				<a href="@(WebBuilder.BuildActionUrl<HomeController>(m => m.Index()))">Главная страница</a>
			</span>
		</div>
	}
	else
	{
		<h2>Используйте форму ниже, чтобы сменить пароль</h2>
		<hr />
		<div class="form">
			@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post))
			{
				@Html.ValidationSummary()
				<p class="clearfix">
					@Html.LabelFor(model => model.NewPassword)
					@Html.PasswordFor(model => model.NewPassword, new { @placeholder = "Пароль" })
				</p>
				<p class="clearfix">
					@Html.LabelFor(model => model.ConfirmNewPassword)
					@Html.PasswordFor(model => model.ConfirmNewPassword, new { @placeholder = "Подтвердите пароль" })
				</p>
				<p class="clearfix">
					<input type="submit" value="Сменить пароль">
				</p>
			}
		</div>
	}
</div>